* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*-webkit-appearance: none;*/
	list-style: none;
}

body {
	background-color: #999999;
	background-image: url('../images/grocery-bg.jpg');
	background-size: 1280px 900px;
	background-repeat: repeat-y;
	font-family: Arial, 'sans-serif';
	font-weight: bold;
	color: #131313;
}

.heading {
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	padding: 3em;
	box-shadow: 0 0 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.heading h1 {
	font-family: 'Kameron', serif;
	font-size: 3em;
}

@media (max-width: 510px) {
	.heading h1 {
		font-size: 2em;
	}
}

.heading span {
	color: #339933;
}

.heading p {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	margin-top: -6px;
}

.list-content {
	width: 600px;
	margin: 0 auto;
	font-size: 1.2em;
}

@media (max-width: 630px) {
	.list-content {
		width: 90%;
		margin: 0 auto;
	}
}

#item-input > p,
#item-list li,
#reset {
	padding: 0.6em 1em;
}

#item-list,
#reset {
	background-color: rgba(255,255,255,0.6);
	color: #9f9f9f;
	box-shadow: 0 0 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

#item-input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #131313;
	background-color: rgba(255,255,255,0.8);
	padding: 0.6em 1em;
	margin-top: 1em;
	border: 1px solid transparent;
	width: 100%;
	box-shadow: 0 0 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

#item-input:hover {
	border: 1px solid #ffffff;
	background-color: rgb(255,255,255);
}

#item-list {
	margin-top: 1em;
	margin-bottom: 1em;
}

#item-list li {
	color: #131313;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 0.2em;
	word-wrap: break-word;
}

#item-list li:hover,
#reset:hover {
	background-color: rgb(255,255,255);
}

#item-list li:last-child {
	margin-bottom: 0;
}

#reset {
	color: #131313;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	float: right;
}

.list-content > a {
	color: inherit;
	text-decoration: inherit;
	margin: 0 auto;
}

.item-check {
	display: inline-block;
	position: absolute;
	width: 22px;
	height: 21px;
	cursor: pointer;
}

.incomplete {
	background-image: url('../images/incomplete.png');
}

.complete {
	background-image: url('../images/complete.png');
}

.item-text {
	margin-left: 2em;
	width: 22px;
	height: 21px;
}

.item-remove {
	float: right;
	cursor: pointer;
}

