* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	list-style: none;
}

body {
	background-color: #999999;
	background-image: url('../images/grocery-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, 'sans-serif';
	font-weight: bold;
	color: #131313;
}

/*Red border for positioning*/

/*div {
	border: 1px solid red;
}*/

.heading {
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	padding: 3em;

}

.heading h1 {
	font-family: 'Kameron', serif;
	font-size: 3em;
}

.heading span {
	color: #339933;
}

.heading p {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	margin-top: -6px;
}

.list-content {
	width: 600px;
	margin: 0 auto;
}

.list-content {
	font-size: 1.2em;
}

#item-input > p,
#incomplete-items li,
#complete-items li,
#list-options {
	padding: 0.6em 1em;
}

#item-input,
#incomplete-items,
#complete-items,
#list-options {
	background-color: rgba(255,255,255,0.6);
	color: #9f9f9f;
}

#item-input {
	margin-top: 1em;
	margin-bottom: 1em;
}

.btn-group {
	float: right;
}

#incomplete-items li {
	color: #131313;
	background-color: rgba(255,255,255,0.5);
	margin-bottom: 0.2em;
}

#incomplete-items li:hover,
#complete-items li:hover,
#list-options:hover {
	background-color: rgb(255,255,255);
}

#complete-items li:last-child,
#incomplete-items li:last-child {
	margin-bottom: 0;
}

#complete-items {
	margin-top: 0.3em;
	margin-bottom: 1em;
}

#complete-items li {
	background-color: rgba(255,255,255,0.2);
	margin-bottom: 0.2em;
	text-decoration: line-through;
}

#list-options {
	color: #131313;
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

.list-content > a {
	color: inherit;
	text-decoration: inherit;
	margin: 0 auto;
}

.list-content > a > div {
	display: inline-block;
	float: right;
}